DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123321
DB_NAME=travel_risk
TEST_DB_NAME=travel_risk_test

LLM_API_KEY=
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus
ADMIN_API_KEY=

XGB_ENABLED=True
ALERT_SCHEDULER_INTERVAL_MIN=0
